{% extends "layout.html"%}
{% block title %}Home{% endblock %}
{% block content %}

<!-- Inputs for the github api -->
<div class="input-group">
    <div class="input-group mx-auto" style="width: 80%;">
        <span class="input-group-text" id="basic-addon1">GitHub Username</span>
        <input type="text" class="form-control input-sm" style="margin-left:-1px" />
        <span class="input-group-text" id="basic-addon1">Salary</span>
        <input type="text" class="form-control input-sm" style="margin-left:-2px" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>

<!-- This is the point where the results from the github api with highlighted lines are-->
<div>
</div>

{% endblock %}
